<html>
	<head>
		<title>Submit Entry</title>
	<!-- 	{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/lastseen_front.css' %}" /> -->
	</head>

	<body>
		<div class="header">
			<div class="logo">
				<label>Last Seen</label>
			</div>
			<div class="controls">
				<input type="button" name="login" value="Login" />
				<input type="button" name="signup" value="Signup" />
			</div>
		</div>
		<div id="cssmenu">
			<ul>
				<li class='active'><span>Home</span></li>
   				<li><span>Find</span></li>
   				<li><span>FAQ</span></li>
   				<li class='last'><span>About</span></li>
			</ul>	
		</div>
			<!-- <div class="header">
				<div class="controls">
					{% if user %}
						{{user.name}}
						(<a class="gray-link" href="/logout">logout</a>)
					{% else %}
						<a class="gray-link" href="/login">login</a>
						<a class="gray-link" href="/signup">signup</a>
					{% endif %}
				</div>

				<div class="controls">
					{% block controls %}
					{% endblock %}
				</div>

				<div class="clear"></div>
			</div>

			<div id="content">
				{% block content %}
				{% endblock %}
			</div> -->
	</body>
</html>