html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;

	width: 800px;
	margin: 0 auto;
	color: #333;
}

.box {
	width:250px;
	padding:10px;
	border:5px solid gray;
	margin:10px;
}

h1 {
	font-size: 100px;
}