<style type="text/css"> 
  html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
  #map-canvas {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 400px;
      height: 400px;
  }
</style>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3zL-5f5AcamPPOSknl9Ly2nuSSnaGMxA&sensor=true">
</script>
<script>
    var geocoder;
    var map;
    var marker;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latLng = new google.maps.LatLng("{{ submission.latitude }}", "{{ submission.longitude }}");
    	var mapOptions = {
    		center: latLng,
    		zoom: 8
    	};
    	var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    	var marker = new google.maps.Marker({
    		position: latLng,
    		map: map
    	});
    }

    function codeAddress() {
      var address = document.getElementById("address").value;
      geocoder.geocode({'address': address}, function(results, status) {
        if(status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
          document.getElementById("latitude").value = marker.position.lat();
          document.getElementById("longitude").value = marker.position.lng();
        }
        else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
</script>

<body onload="initialize()">
    {{ submission.errors }}
    {{ submission.has_errors }}
	<form action="." method="POST">
		{% csrf_token %}
		<label class='label'>Title</label>
		{{ submission.title }}<br>
		<label class='label'>Photo</label>
		{{ submission.photo }}<br>
		{{ submission.details }}<br>
		<label>Found</label>
		{{ submission.found }}<br>
		<label>Address:</label>
        <input type="textbox" name="address" id="address">
        <input type="button" class="btn btn-small btn-primary" id="code" onclick="codeAddress()"><br>
        <input type="hidden" name="latitude" id="latitude", value="0">
        <input type="hidden" name="longitude" id="longitude", value="0">
        <input type="submit" class="btn btn-small btn-primary" id="input" value="Save">
        <div id="map-canvas"/>
	</form>
</body>